<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Movie Genres</title>
		<meta name="description" content="FEWD Movie Catalog">
		<meta name="author" content="Jamie Martinez">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<div class='header'>
			<h1>Movie Catalog</h1>
		</div>
		<div class='topnav'>
			<a href = '{{url_for('mainMenu') }}'>Home</a>
			<a href = "#">Login</a>
			<a href = "#">Logout</a>
		</div>
		<div class='row'>
			<div class='column left'>
				<h2>Genre</h2>
				<ul>
					{% for i in genres %}
					<li>
						<a class='genre' href='{{ url_for('movieMenu',genre_id=i.id) }}' >{{ i.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class='column right'>
				<h2>Latest Movies</h2>
				<ul>
					{% for i in movies %}
					<li>
						{{ i.title }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>