<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Movie Genres</title>
		<meta name="description" content="FEWD Movie Catalog">
		<meta name="author" content="Jamie Martinez">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<h1>Movie Catalog</h1>
		<h2>by Genre</h2>
		<ul>
			{% for i in genres %}
			<li>
				<a href='{{ url_for('genreMenu',genre_id=i.id) }}' >{{ i.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>