<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Movies</title>
		<meta name="description" content="FEWD Movie Catalog">
		<meta name="author" content="Jamie Martinez">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<div class='header'>
			<h1>Movie</h1>
		</div>
		<div class='topnav'>
			<a href = '{{url_for('mainMenu') }}'>Home</a>
			<a href = "#">Logout</a>
		</div>
		<div class='row'>
			<div class='column full'>
				<h2>Title</h2>
<!-- 				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul>
							{% for message in messages %}
							<li><strong>{{ message }}</strong></li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %} -->
				<p class='title'>
					{{ movies.title }}
				</p>
				<p>
					{{ movies.description }}
					</br>
					</br>
					<button><a class='button' href='{{url_for('editMovieItem', genre_id=genres.id, movie_id=movies.id) }}' >Edit</a></button>
					<button><a class = 'button' href='{{url_for('deleteMovieItem', genre_id=genres.id, movie_id=movies.id) }}' >Delete</a></button>
				</p>					

			</div>
		</div>
	</body>
</html>