<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Movie Catalog</title>
		<meta name="description" content="FEWD Movie Catalog">
		<meta name="author" content="Jamie Martinez">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<h1>{{ genres.name }}</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong>{{ message }}</strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		<a href = '{{url_for('newMovieItem', genre_id= genres.id) }}'>Create New Movie</a>
		</br>
		</br>
		{% for i in movies %}
		{{ i.title }}
		</br>
		<a href='{{url_for('editMovieItem', genre_id=genres.id, movie_id=i.id) }}' >Edit</a>
		</br>
		<a href='{{url_for('deleteMovieItem', genre_id=genres.id, movie_id=i.id) }}' >Delete</a>
		</br>
		</br>
		{% endfor %}
	</body>
</html>