<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Movies</title>
		<meta name="description" content="FEWD Movie Catalog">
		<meta name="author" content="Jamie Martinez">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<div class='header'>
			<h1>Movies</h1>
		</div>
		<div class='topnav'>
			<a href = '{{url_for('mainMenu') }}'>Home</a>
		</div>
		<div class='row'>
			<div class='column left'>
				<h2>{{ genres.name }}</h2>
				<ul>
					{% for i in movies %}
					<a class='movie' href='{{ url_for('movieItem',genre_id=genre_id, movie_id=i.id) }}' >{{ i.title }}</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>